# Projeto Final - Econometria 1
Lucas Rabay Butcher

In [11]:
''' importando bibliotecas necessárias '''
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

### 1 - Discriminação no Mercado de Trabalho

In [9]:
'''' Carregando os dados e conferindo '''
salarios_df = pd.read_csv('data/salario_mercado.csv')
salarios_df

         salario  exp  educ  homem
0       3.333333    5   5.0      1
1       6.000000   10  12.0      1
2     146.666667   16  12.0      1
3      53.333333   18  12.0      1
4     133.333333   20  14.0      0
...          ...  ...   ...    ...
5248  200.000000   48  12.0      1
5249   66.666667    6  13.0      1
5250  400.000000   48   9.0      0
5251  280.000000   44   7.0      0
5252  500.000000   50  12.0      0

[5253 rows x 4 columns]